@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Rubik:100,200,300,400,500,600,700");

html {
    scroll-behavior: smooth;
}

/*---------- Header ----------*/

header {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .video-intro {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

  /*---------- navbar ----------*/

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #F0EFEB;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #F0EFEB;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #F0EFEB;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #CB997E;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #F0EFEB;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #39392D;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #F0EFEB;
}
.navbar.active .navbar-brand:hover {
    color: #39392D;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #F0EFEB;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #39392D;
    }
}


/*---------- Features ----------*/

#features {
    background: rgb(203,153,126);
    background: linear-gradient(90deg, rgba(203,153,126,1) 10%, rgba(240,239,235,1) 100%);
}


/*---------- Scroll up - down ----------*/

.header-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1111;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: #F0EFEB;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    -webkit-animation: MoveUpDown 1s linear infinite;
            animation: MoveUpDown 1s linear infinite;
}

.header-scroll a{
    color: #F0EFEB;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 1rem;
  }
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 1rem;
  }
}

.header-scroll>i {
    font-size: 2rem;
}