@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Rubik:100,200,300,400,500,600,700");

/*  Color Palette
Antique Brass:      #CB997E
Champagne Pink:     #EDDCD2
Linen:              #FFF1E6
Isabelline:         #F0EFEB
Desert Sand:        #DDBEA9
Artichoke:          #A5A58D
Black Olives:       #39392D 
*/


html {
  scroll-behavior: smooth;
}

/*---------- Commom Styling ----------*/

h1,
h2 {
  font-family: "Roboto", sans-serif;
  color: #39392d;
}

h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  color: #39392d;
}

p {
  font-family: "Rubik", sans-serif;
  color: #f0efeb;
}

a, span {
  font-family: "Rubik", sans-serif;
  color: #39392d;
}

/*---------- Header Section ----------*/

header {
  position: relative;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #171712;
  text-transform: uppercase;
}

header p {
  font-size: 1.5rem;
  color: #171712;
  font-weight: 700;
}

.title-bg {
  display: inline-block;
  background-color: rgba(203, 153, 126, 0.70);
  padding: 10px;
  line-height: 35px;
  border-radius: 15px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8);
}

header a {
  font-size: 1.5rem;
  font-weight: 700;
}

.intro-text {
  line-height: 20px;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-header {
  background-color: rgba(203, 153, 126, 0.8);
  color: #171712;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 20px;
}

.btn-header:hover {
  color: #f0efeb;
  background-color: #39392d;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .video-intro {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 2rem;
  }

  header p,
  a {
    font-size: 20px;
  }

  .btn-header {
    font-size: 12px;
  }

  .title-bg {
    padding: 5px;
    line-height: 35px;
  }
}

@media (max-width: 475px) {
  header h1 {
    font-size: 2rem;
  }

  header p,
  a {
    font-size: 20px;
    line-height: 10px;
  }

  .btn-header {
    font-size: 12px;
  }

  .title-bg {
    padding: 8px;
    line-height: 25px;
  }
}

@media (max-width: 320px) {
  header h1 {
    font-size: 25px;
  }

  header p,
  a {
    font-size: 15px;
    line-height: 10px;
  }

  .btn-header {
    font-size: 10px;
  }

  .title-bg {
    padding: 5px;
    line-height: 25px;
  }
}

/*---------- Scroll up - down ----------*/

.header-scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: #39392d;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  -webkit-animation: MoveUpDown 1s linear infinite;
  animation: MoveUpDown 1s linear infinite;
}

.header-scroll a {
  color: #39392d;
}

.header-scroll a:hover {
  text-decoration: none;
}

@-webkit-keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 1rem;
  }
}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 1rem;
  }
}

.header-scroll>i {
  font-size: 2rem;
}

/*---------- Navbar ----------*/

.navbar {
  transition: all 0.4s;
}

.navbar .nav-link {
  color: #f0efeb;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #f0efeb;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #f0efeb;
  font-size: 20px;
}

.dropdown-menu {
  background: #cb997e;
  font-size: 15px;
}

.dropdown-item {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #39392d;
  text-transform: uppercase;
}

.dropdown-item:hover {
  background-color: #39392d;
  color: #f0efeb;
}

/* navbar on scroll */
.navbar.active {
  background: #cb997e;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #39392d;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #f0efeb;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #39392d;
}

.navbar.active .navbar-brand:hover {
  color: #f0efeb;
}

@media (max-width: 990px) {
  .navbar {
    background: #cb997e;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #39392d;
  }
}

/*---------- Welcome Bar ----------*/

#welcome-bar {
  background: rgb(203, 153, 126);
  background: linear-gradient(90deg,
      rgba(203, 153, 126, 1) 20%,
      rgba(240, 239, 235, 1) 100%);
  height: 10vh;
}

#welcome-bar .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#welcome-bar .covidTitle {
  font-size: 1.2rem;
  font-family: "Roboto";
  text-align: center;
  font-weight: 600;
  line-height: 25px;
  max-width: 200px;
  padding-bottom: 20px;
}

#welcome-bar .covidPage {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

#welcome-bar .covidPage:hover {
  color: #A5A58D;
}

#welcome-bar .container ul li {
  display: inline-block;
  list-style-type: none;
  padding-right: 50px;
}

#welcome-bar .container ul li img {
  display: inline-block;
  margin-right: 10px;
}

#welcome-bar .container ul li span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 1400px) {
  #welcome-bar {
    height: auto;
  }

  #welcome-bar .container {
    width: 85%;
  }

  #welcome-bar .container ul {
    display: flex;
    margin: 0px;
    padding: 0px;
  }

  #welcome-bar .container ul li {
    padding-left: 0px;
    padding-right: 20px;
  }

  #welcome-bar .container ul li span {
    font-size: 13px;
  }

  #welcome-bar .container ul li img {
    padding-left: 15px;
  }

  #welcome-bar .covidTitle {
    font-size: 1rem;
    line-height: 20px;
    padding-bottom: 0px;
  }

  #welcome-bar .covidPage {
    font-size: 10px;
  }
}

@media screen and (max-width: 1030px) {
  #welcome-bar .container {
    width: 95%;
  }

  #welcome-bar .container ul li {
    padding-right: 0px;
  }

  #welcome-bar .container ul li span {
    font-size: 10px;
    line-height: 15px;
  }

  #welcome-bar .container ul li img {
    padding-left: 5px;
    padding-bottom: 5px;
    height: 40px;
  }

  #welcome-bar .covidTitle {
    font-size: 14px;
    padding-right: 10px;
  }

  #welcome-bar .covidPage {
    font-size: 9px;
  }
}

@media screen and (max-width: 600px) {
  #welcome-bar .container {
    width: 90%;
    justify-content: center;
  }

  #welcome-bar .container ul li span {
    font-size: 9px;
    line-height: 10px;
  }

  #welcome-bar .container ul li img {
    padding-left: 5px;
    height: 35px;
    text-align: center;
  }

  #welcome-bar .covidTitle {
    font-size: 11px;
    line-height: 15px;
  }

  #welcome-bar .covidPage {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  #welcome-bar .container {
    width: 95%;
  }

  #welcome-bar .covidTitle {
    font-size: 10px;
    line-height: 12px;
  }
}

/*---------- Welcome Section ----------*/

#welcome {
  background: #f0efeb;
}

#welcome .card-container {
  overflow: hidden;
}

#welcome .card {
  background-color: #f0efeb;
  color: #39392d;
  min-height: 100%;
  width: auto;
  height: 90vh;
  float: right;
  border: 15px solid #eddcd2;
}

#welcome .card-title {
  font-size: 2.5rem;
  font-family: "Roboto";
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
}

#welcome .card-description-sub {
  font-size: 1.2rem;
  font-family: "Rubik";
  text-align: center;
  font-weight: 700;
}

#welcome .card-description {
  padding: 30px;
  font-size: 1.2rem;
  font-family: "Rubik";
  text-align: center;
  line-height: 30px;
  font-weight: 500;
}

#welcome .card-image {
  display: flex;
}

#welcome div.card-image img {
  width: 60%;
  height: auto;
}

#welcome .card-image img:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 1490px) {
  #welcome .card-description {
    padding: 15px;
    font-size: 1rem;
    line-height: 25px;
  }
}

@media only screen and (max-width: 1150px) {
  #welcome div.card-image img {
    width: 100%;
    height: auto;
  }

  #welcome .card-image {
    flex-direction: column;
  }

  #welcome .card {
    width: 100%;
    height: auto;
    margin-top: -4px;
  }

  #welcome .card-description {
    padding: 20px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  #welcome div.card-image img {
    width: 100%;
    height: auto;
  }

  #welcome .card-image {
    flex-direction: column;
  }

  #welcome .card {
    width: 100%;
    height: auto;
    margin-top: -4px;
  }

  #welcome .card-description {
    padding: 5px;
    font-size: 15px;
  }
}

/*---------- Feature Section ----------*/

#features {
  background: #fff1e6;
  height: 80vh;
}

#feature-title {
  padding: 50px 0 15px 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#feature-subtitle {
  padding: 10px 0 50px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#left-feature {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-feature {
  padding-top: 30px;
  width: 33%;
  float: right;
}

#center-feature {
  width: 33%;
  margin: 0 auto;
}

.left-feature-heading {
  width: 50%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 15px;
}

.left-feature-heading p {
  color: #39392d;
}

.right-feature-heading p {
  text-align: right;
  color: #39392d;
}

.right-feature-heading {
  width: 50%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 15px;
}

.right-feature-heading h2 {
  text-align: right;
}

#circle-bg {
  width: 400px;
  height: 400px;
  padding: 20px;
  border-style: solid;
  border-color: #cb997e;
  border-width: 1px;
  border-radius: 50%;
  margin: 100px auto;
}

#circle-bg-img {
  background: url("https://images.unsplash.com/photo-1533193773788-92826ee86674?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80") no-repeat center;
  height: 100%;
  width: auto;
  border-radius: 50%;
}

#circle-bg-img:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1400px) {
  #features {
    width: auto;
    height: 1300px;
    margin: 0 auto;
  }

  #feature-title {
    padding: 30px 0;
    margin-top: 0;
  }

  #left-feature,
  #right-feature {
    width: 100%;
    float: left;
    padding: 0;
  }

  #center-feature {
    clear: both;
    width: 100%;
  }

  #features hr {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  #features {
    width: auto;
    height: 1200px;
    margin: 0 auto;
  }

  .left-feature-heading,
  .right-feature-heading {
    width: inherit;
    margin-bottom: 5px;
  }

  .right-feature-heading h2,
  .left-feature-heading h2 {
    width: 100%;
    text-align: center;
  }

  .right-feature-heading p,
  .left-feature-heading p {
    text-align: center;
    padding: 0 20 0 20;
  }

  #circle-bg {
    width: 280px;
    height: 280px;
    padding: 15px;
  }
}

@media screen and (max-width: 300px) {
  #circle-bg {
    width: 150px;
    height: 150px;
    padding: 10px;
  }
}

/*---------- Bedroom Section ----------*/

#bedrooms {
  background: #CB997E;
  height: 80vh;
}

.bedroom-container {
  display: flex;
}

#bedroom-title {
  padding: 60px 0 30px 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

#bedrooms .container {
  position: relative;
  height: 500px;
  width: 350px;
  overflow: hidden;
  background: #FFF1E6;
  border: 5px solid #CB997E;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.6);
  transition: 0.3s ease-out;
}

#bedrooms .container:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.9);
}

#bedrooms .container .image {
  background: #CB997E;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  z-index: 2;
  transition: transform 0.3s ease-out;
  transform: translateY(-55px);
}

#bedrooms .container:hover .image {
  transform: translateY(-100px);
}

#bedrooms .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-out;
}

#bedrooms .container:hover .image img {
  opacity: 0.5;
}

#bedrooms .container .content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #F0EFEB;
  border-bottom: 15px solid #FFF1E6;
}

#bedrooms .info {
  position: absolute;
  bottom: 2px;
  text-align: center;
  width: 100%;
  line-height: 50px;
}

#bedrooms .info h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 3px 0;
  text-transform: uppercase;
}

#bedrooms .info span {
  font-size: 20px;
  font-weight: 500;
}

#bedrooms .next {
  background-color: #DDBEA9;
  color: #39392D;
  font-size: 20px;
  font-weight: 700;
  padding: 2px 11px;
}

#bedrooms .next:hover {
  background-color: #EDDCD2;
  text-decoration: none;
}

#bedrooms .round {
  border-radius: 50%;
}

#bedrooms .container ul {
  display: flex;
  position: absolute;
  top: 96%;
  left: 85%;
  transform: translate(-50%, -50%);
  z-index: 3;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 1435px) {
  #bedrooms {
    height: auto;
  }

  #bedrooms .bedroom-container {
    flex-wrap: wrap;
  }

  #bedrooms .container {
    margin: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 400px;
  }

  #bedrooms .container ul {
    display: flex;
    position: absolute;
    top: 95%;
    left: 90%;
  }
}

@media screen and (max-width: 1050px) {
  #bedrooms .container {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  #bedrooms .container {
    margin: 15px;
    position: relative;
    left: 46%;
    transform: translateX(-50%);
    width: 100%;
    height: 300px;
  }

  #bedrooms .container ul {
    display: flex;
    position: absolute;
    top: 94%;
    left: 88%;
  }
}

/*---------- Testimonial Section ----------*/

#testimonial-pg {
  background: #FFF1E6;
  height: auto;
}

#testimonial-pg .title {
  font-weight: 700;
  text-transform: uppercase;
}

#testimonial-pg .subtitle {
  color: #39392D;
  text-transform: uppercase;
}

#testimonial-pg .card-body {
  padding: 40px;
  background: #EDDCD2;
}

#testimonial-pg .text {
  font-weight: 500;
}

#testimonial-pg h6 {
  line-height: 24px;
}

#testimonial-pg img {
  width: 60px;
  height: auto;
}

#testimonial-pg .customer {
  text-transform: uppercase;
  font-size: 13px;
}

#testimonial-pg .stars {
  font-size: 10px;
}

#testimonial-pg .icon-star:hover {
  cursor: pointer;
}

#testimonial-pg .card-shadow {
  -webkit-box-shadow: 0px 0px 20px rgba(237, 220, 210, 0.4);
  box-shadow: 0px 0px 20px rgba(237, 220, 210, 0.4);
}

#testimonial-pg .text-success {
  color: #2cdd9b !important;
}

#testimonial-pg .text-muted {
  color: #39392D !important;
}

#testimonial-pg .owl-theme .owl-dots .owl-dot.active span,
#testimonial-pg .owl-theme .owl-dots .owl-dot:hover span {
  background: #39392D;
}

@media screen and (max-width: 950px) {
  #testimonial-pg .icon-star {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
    
  #testimonial-pg .title {
  font-size: 17px;
  font-weight: 600;
}

  #testimonial-pg .subtitle {
  font-size: 13px;
  font-weight: 600;
}
}

/*---------- Event Bar ----------*/

#event-bar {
  background: #EDDCD2;
  height: 20vh;
}

#event-bar .title {
  padding-top: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

#event-bar .subtitle { 
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
    
  #event-bar .title {
  font-size: 18px;
  font-weight: 600;
}

#event-bar .subtitle {
  font-size: 13px;
  font-weight: 600;
}
}


/*---------- Event Section ----------*/

#event-pg {
    background-image: url("https://images.unsplash.com/photo-1590435768306-1c1b0561f73c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2275&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#event-pg div{
    color: #F0EFEB;
    background-color: rgba(0,0,0, .4);
    width: 19.5%;
    height: 400px;
    float: left;
    padding: 50px 0 0 5px;
    text-align: center;
    margin-right: 5px;
    margin-left: 2px;
}

#event-pg h2, h3{
    font-size: 1.5rem;
    color:#F0EFEB;
}

@media screen and (max-width: 1400px) {
    #event-pg div{
        width: 100%;
        clear: both;
        height: 150px;
        border-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #F0EFEB;
        padding: 10px 0 0 0;
    }
}


/*---------- Booking Form ----------*/

#booking-form {
  background: #EDDCD2;
  height: auto;
}

.booking-form  {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
  padding: 55px;
}

.booking-title h2, .booking-title p{
  color: #39392D;
  font-weight: 700;
  text-transform: uppercase;
}

.booking-form .form-group {
  padding-bottom: 5px;
}

.booking-form textarea {
  border-radius: 10px;
  box-shadow: none;
  font-size: 14px;
}

.booking-form input {
  height: 40px;
}

.booking-form textarea {
  padding: 10px 12px;
}

.booking-form button {
  background: #CB997E;
  border: 0;
  padding: 10px 30px;
  color: #39392D;
  font-weight: 700;
  border-radius: 20px;
}

.booking-form button:hover {
  background: #39392D;
  color: #F0EFEB;
}

/*---------- contact ----------*/

#contact-pg {
  background: #F0EFEB;
  height: 50vh;
}

/*---------- Footer ----------*/

.footer-pg {
  background-color: #39392d;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #f0efeb;
}

.footer-pg hr {
  border-top-color: #cb997e;
  opacity: 0.4;
}

.footer-pg h6 {
  color: #f0efeb;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #cb997e;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #a5a58d;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.footer-pg .social-icons {
  text-align: right;
}

.footer-pg .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #333328;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .footer-pg [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer-pg {
    padding-bottom: 0;
  }

  .footer-pg .copyright-text,
  .footer-pg .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #f0efeb;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #f0efeb;
  color: #f0efeb;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #f0efeb;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.youtube:hover {
  background-color: #c4302b;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}



/*---------- Standard Header ----------*/

#standard-header .standard-title {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://images.unsplash.com/photo-1594560913036-d15f23f8a91c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#standard-header .title {
  font-size: 2rem;   
  color: #39392D;
  padding-top: 10px;
}

#standard-header .subtitle {
  font-size: 1.2rem; 
  color: #39392D;
}

@media (max-width: 500px) {
  #standard-header .title {
  font-size: 1.5rem;   
  color: #39392D;
  padding-top: 30px;
}

#standard-header .subtitle {
  font-size: 1rem; 
  line-height: 20px;
  color: #39392D;
}
}
/*---------- Standard Title ----------*/

#standard-title {
  background: #FFF1E6;
  height: auto;
  padding-top: 8vh;
  padding-bottom: 5vh;
}

#standard-title .title {
  font-size: 2rem;
  font-weight: 600;
  color: #39392D;   
  text-align: center;
  padding-bottom: 10px;
}

#standard-title .subtitle p {
  font-size: 1rem; 
  font-weight: 600;
  color: #39392D;
  text-align: left;
}

#standard-title .subtitle ul {
  font-size: 14px; 
  font-weight: 500;
  color: #39392D;
  text-align: left;
}

/*---------- Standard Pg = photos ----------*/

#standard-pg {
  background: #FFF1E6;
  height: auto;
}
#standard-pg .row img {
    border-radius: 5px;
}

#standard-pg .row img:hover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

